body {
  position: relative;
  margin: 0;
  padding: 0;
}

.content {
  margin-top: 30px;
  margin-left: 30px;
}

.filter-container {
  margin-bottom: 10px;
}

.content-table {
  margin-left: 50px;
}

.form {
  margin-top: 20px;
}

.form-field {
  display: inline-block;
  width: 150px;
}

.form-label {
  padding-bottom: 5px;
  display: inline-block;
}

.form-input {
  height: 35px;
  width: 180px;
  display: inline-block;
  font-size: small;
}

.form-input-btn {
  position: relative;
  margin-left: 10px;
  display: inline-block;
}

.form-input-search {
  height: 35px;
  width: 300px;
  display: inline-block;
}

.thumbnail {
  display: flex;
  width: 270px;
  padding: 2rem 1rem;
  background-color: #f9f9f9;
}

.td-thumbnail-head {
  display: inline-block;
  text-align: left;
}

.error-message {
  color: red;
}

.server-error-message-container {
  color: red;
  margin-top: 40px;
}

.input-error {
  border: 1px solid red;
  padding: 10px;
}

.btn-selected-users {
  position: relative;
  margin-left: 50px;
}

.btn-group-visible-user {
  position: relative;
  display: table;
  width: 100%;
}

.btn-visible-user {
  position: relative;
  display: table-cell;
  width: 50%;

}

.visible-user {
  position: relative;
  width: 270px;
}

.visible-user-td-input {
  position: relative;
  width: 135px;
  font-size: small;
  color: #1b6d85;
}

.visible-user-input, textarea {
  position: relative;
  width: 100%;
  font-size: small;
  color: #1b6d85;
  resize: none;
}

.datetime-input {
  font-size: small;
  height: 20px;
  width: 135px;
  color: #1b6d85;
}

